.removeIcon {
    border: none;
    background-image: url("../src/assets/removeIcon.jpg");
    width: 20px;
    height: 20px;
    background-size: cover;
    background-color: transparent;
    margin: 10px 0 0 17px;
}
.checkbox {
    margin-left: 2px;
}