.information-block {
    margin: 20px 0;
    padding: 10px;
    -webkit-box-shadow: 10px 6px 39px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 6px 39px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 6px 25px -10px rgba(0,0,0,0.75);
    width: 80%;
}
.information-main {
    display: flex;
    justify-content: space-between;
}
.main-image {
    width: 500px;
    height: 250px;
}
.information-gallery {
    margin-top: 40px;
}
.images-block {
    display: inline-block;
}
.gallery-image {
    width: 120px;
    height: 120px;
    margin: 0 10px;
}
.rating-block {
    display: flex;
    margin: 5px 0;
}
.rating-title {
    margin-right: 10px;
}

.rating-value {
    margin: 4px 0 0 10px;
}
.upload-images {
    margin: 20px 0;
    padding: 10px;
}
i {
    font-size: 18px;
}
.reviews {
    border-bottom: 1px solid lightgray;
    margin: 10px 0;
}
.rating-root {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}
.text-area {
    width: 90%;
}